<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sunday services</title>
</head>
<body>
    <img src="https://i.postimg.cc/BnbcSwgQ/image-1.png" style=" width: 35%; color: rgb(86, 5, 110);">

    <h1 style="text-align: center; font-style: oblique;">MONTHLY WEDDING </h1>
    <br>

    <table class="styled-table" border="1" cellspacing="0" cellpadding="5">
        <thead>
            <tr>
                <th style="height: 35px;">Groom Name</th>
                <th style="height: 35px;">Bride Name </th>
                <th style="height: 35px; margin-right: 35px;">Date</th>
                <th style="height: 35px;">Phone Number</th>
                <th style="height: 35px;">Status </th>
                
            </tr>
        </thead>
        <tbody>
        {% for appointmentWeds in appointmentWe %}
            <tr>
                <td style="height: 35px; padding-left: 10px;">{{ appointmentWeds.groomName }}</td>
                <td style="height: 35px; padding-left: 10px;">{{ appointmentWeds.brideName }}</td>
                <td style="height: 35px; padding-left: 10px;">{{ appointmentWeds.date}}</td>
                <td style="height: 35px; padding-left: 10px;">{{ appointmentWeds.phone}}</td>
                <td style="height: 35px; padding-left: 10px;">{{ appointmentWeds.status }}</td>
               
            </tr>
        {% endfor %}
        
        </tbody>
    </table>
</body>
</html>