<br>
<div class="row">
  <div class="col">
    <div class="col-md">
        <div class="card text-center text-white mb-3" id="registered">
            
                <div class="card-header">
                  <h5 class="card-title">Registered Members</h5>
                  <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>-->
                </div>
                <div class="card-body">
                  <h3 class="card-title">{{total_registered_service}}</h3>
                </div>
              

        </div>

    </div>


</div>
<div class="col">
  <div class="col-md">
      <div class="card text-center text-white mb-3" id="registered">
          
              <div class="card-header">
                <h5 class="card-title">Pastor's Appointments</h5>
                <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>-->
              </div>
              <div class="card-body">
                <h3 class="card-title">{{totalPastorAppoints}}</h3>
              </div>
            

      </div>

  </div>


</div>
<div class="col">
    <div class="col-md">
        <div class="card text-center text-white mb-3" id="appointment">
            
                <div class="card-header">
                  <h5 class="card-title">Wedding</h5>
                  <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>-->
                </div>
                <div class="card-body">
                  <h3 class="card-title">{{totalWeddings}}</h3>
                </div>
              

        </div>

    </div>


</div>
<div class="col">
  <div class="col-md">
      <div class="card text-center text-white mb-3" id="congregation">
          
              <div class="card-header">
                <h5 class="card-title">congregants</h5>
                <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>-->
              </div>
              <div class="card-body">
                <h3 class="card-title">{{total_congregants}}</h3>
              </div>
            

      </div>

  </div>


</div>


</div>

